
.ujFilm div{
    margin-top: 1em;
    margin-bottom: 1em;
}
h3{
    text-align: center;
}
button{
    width: 100%;
    font-weight:bold;
}
.jumbotron {
    background-color:  rgb(209, 185, 58) !important; 
    border-bottom: #C0C0C0 solid;
    color: rgb(46, 42, 24);
} 
input{
    background-color:  rgb(253, 235, 143);
    border: #C0C0C0 solid;

}
table{
    margin-top: 1em;
}
table td{
    color: black;
}
table th{
    background-color: rgb(253, 235, 143);
}
.ujFilm {
    background-color: whitesmoke;
}
.container{
    background-color: white;
}
.listazas{
    background-color:silver;
}
.listazas div{
    margin-top: 1em;
    margin-bottom: 1em;
    
}